[submodule "my_plugins/onedark.vim"]
	path = my_plugins/onedark.vim
	url = https://github.com/antaxiom/onedark.vim.git
[submodule "sources_non_forked/vim-airline-themes"]
	path = sources_non_forked/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "sources_non_forked/onedark.vim"]
	path = sources_non_forked/onedark.vim
	url = https://github.com/antaxiom/onedark.vim.git
[submodule "sources_non_forked/vim-airline"]
	path = sources_non_forked/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "sources_non_forked/coc.nvim"]
	path = sources_non_forked/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "sources_non_forked/vim-xtabline"]
	path = sources_non_forked/vim-xtabline
	url = https://github.com/mg979/vim-xtabline.git
[submodule "sources_non_forked/rnvimr"]
	path = sources_non_forked/rnvimr
	url = https://github.com/kevinhwang91/rnvimr.git
[submodule "sources_non_forked/bullets.vim"]
	path = sources_non_forked/bullets.vim
	url = https://github.com/dkarter/bullets.vim.git
[submodule "sources_non_forked/nvim-colorizer.lua"]
	path = sources_non_forked/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "sources_non_forked/AutoComplPop"]
	path = sources_non_forked/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "sources_non_forked/vim-polyglot"]
	path = sources_non_forked/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "sources_non_forked/vim-smoother"]
	path = sources_non_forked/vim-smoother
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "sources_non_forked/vim-smoothie"]
	path = sources_non_forked/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "sources_non_forked/vim-floaterm"]
	path = sources_non_forked/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "sources_non_forked/vimwiki"]
	path = sources_non_forked/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "sources_non_forked/vimtex"]
	path = sources_non_forked/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "sources_non_forked/pear-tree"]
	path = sources_non_forked/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
[submodule "sources_non_forked/vim-highlightedyank"]
	path = sources_non_forked/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "sources_non_forked/vim-devicons"]
	path = sources_non_forked/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "sources_non_forked/vim-grammarous"]
	path = sources_non_forked/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule "sources_non_forked/markdown-preview.nvim"]
	path = sources_non_forked/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "sources_non_forked/vim-pandoc-syntax"]
	path = sources_non_forked/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "sources_non_forked/vim-pandoc"]
	path = sources_non_forked/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "sources_non_forked/limelight.vim"]
	path = sources_non_forked/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "sources_non_forked/nvim-treesitter"]
	path = sources_non_forked/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
